<form class="dojogpEditFreelnace" data-dojo-attach-point='containerNode' data-dojo-attach-event='onreset:_onReset,onsubmit:_onSubmit' ${!nameAttrSetting}>
    <div class="dojogpHeader">Ответьте всего на пару вопросов для того, чтобы<br/>сформировать вашу будущею команду</div>
    <table class="dojogpEditFreelnaceTable">
        <tr>
            <td class="name">Название</td>
            <td class="value" colspan="3">
                <input  data-dojo-type="dijit.form.ValidationTextBox" 
                        data-dojo-props="name: 'name', required: true"
                        data-dojo-attach-point="nameWidget"/>
            </td>
        </tr>
        <tr>
            <td class="name">Тип работы</td>
            <td class="value" colspan="3">
                <input  data-dojo-type="dijit.form.FilteringSelect" 
                        data-dojo-props="name: 'freelanceWorkTypeId', required: true"
                        data-dojo-attach-point="workTypeWidget"/>
            </td>
        </tr>
        <tr>
            <td class="name">Срок работы от</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.DateTextBox" 
                        data-dojo-props="name: 'workingPeriodBegin'"
                        data-dojo-attach-point="dateStartWidget"/>
            </td>
            <td class="name">до</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.DateTextBox" 
                        data-dojo-props="name: 'workingPeriodEnd'"
                        data-dojo-attach-point="dateEndWidget"/>
            </td>
        </tr>
        <tr>
            <td class="name">Сегмент</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.FilteringSelect" 
                        data-dojo-props="name: 'segmentId', searchAttr: 'name', required: true"
                        data-dojo-attach-point="segmentWidget"/>
            </td>
            <td class="name">Должность</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.FilteringSelect" 
                        data-dojo-props="name: 'positionId', searchAttr: 'title', required: true"
                        data-dojo-attach-point="positionWidget"/>
            </td>
        </tr>
        <tr>
            <td class="name">Оклад от</td>
            <td class="value">
                <input  data-dojo-attach-point="moneyFromHolder"/>
            </td>
            <td class="name">до</td>
            <td class="value">
                <input  data-dojo-attach-point="moneyToHolder"/>
            </td>
        </tr>
        <tr>
            <td class="name">Город</td>
            <td class="value" colspan="3">
                <div data-dojo-attach-point="citySelectorHolder"><div>
            </td>
        </tr>
        <tr>
            <td class="name">Возраст от</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.NumberTextBox" 
                        data-dojo-props="name: 'minAge'"
                        data-dojo-attach-point="minAgeWidget"/>
            </td>
            <td class="name">до</td>
            <td class="value">
                <input  data-dojo-type="dijit.form.NumberTextBox" 
                        data-dojo-props="name: 'maxAge'"
                        data-dojo-attach-point="maxAgeWidget"/>
            </td>
        </tr>
        <tr>
            <td class="name">Обязанности</td>
            <td class="value" colspan="3">
                <div  data-dojo-attach-point="responsibilityHolder"></div>
            </td>
        </tr>
        <tr>
            <td class="name">Необходимый опыт</td>
            <td class="value" colspan="3">
                <div  data-dojo-attach-point="experienceHolder"></div>
            </td>
        </tr>
        <tr>
            <td class="button" colspan="4" style="text-align: right;">
                <button data-dojo-attach-point="submitButtonHolder">Сохранить</button>
            </td>
        </tr>
    </table>
</form>