.dojogpCarousel {

}


.dojogpCarousel .header {
    font-weight: bold;
}

/**
* Настрока параметров отображения виджета 
**/
.dojogpCarousel .dojogpCarouselChildren {
    width: 200px !important;
    height: 200px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.dojogpCarousel .arrow {
    background-color: green;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.dojogpCarousel .left {
    
}

.dojogpCarousel .right { 
   
}

.dojogpCarousel .deck{
    background-color: red;
    overflow: hidden;
    padding-top:  10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius:6px; 
    -webkit-border-radius:6px; 
    -moz-border-radius:5px; 
    -khtml-border-radius:10px;

}

.dojogpCarousel .deck .header {
    text-align: center;
    padding-bottom: 5px;
}

.dojogpCarousel .deck .container {
   
}



.dojogpCarousel .deck .container > .dojogpCarouselChildren {
    float: left;
}