.dojogpEditFreelnace {width: 700px;}
.dojogpEditFreelnace .dojogpHeader {font-weight: bold; text-align: center;}
.dojogpEditFreelnace .dojogpEditFreelnaceTable {width:100%; padding-top: 20px; }
.dojogpEditFreelnace .dojogpEditFreelnaceTable td {padding-top: 5px;}
.dojogpEditFreelnace .dojogpEditFreelnaceTable .name {width: 150px; text-align: right; vertical-align: top;}
.dojogpEditFreelnace .dojogpEditFreelnaceTable .dojogpTableHeader {border-bottom: 1px solid black; text-align: left;}